@import "~bootstrap/dist/css/bootstrap.min.css";
h1 {
  text-align: center;
  padding-top: 0;
  text-decoration: solid;
}
h2 {
  text-align: center;
  padding-top: 50px;
  text-decoration: solid;
}
body {
  background-color: rgb(159, 43, 43);
}
/* .centered-image {
  display: flex;
  justify-content: center;
} */
img {
  height: 600px;
  width: 660px;
  z-index: -1;
}
#fortune {
  z-index: 1;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
